* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
input.check:checked ~ div.hmb {
  height: 40vh;
  padding: 20px;
}
div.menu {
  z-index: 999;
  padding: 20px;
  background-color: #1a2658;
  position: sticky;
  top: 0;
}
div.hmb {
  height: 0;
  overflow: hidden;
  transition: all 300ms linear;
  overflow: auto;
  z-index: 999;
}
div.hmbmenu {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #1a2658;
}
a.btn {
  position: relative;
  overflow: hidden;
}
a.btn::before {
  content: "Get Connected";
  width: inherit;
  height: inherit;
  background-color: white;
  position: absolute;
  border-radius: inherit;
  transform: translateY(100%);
  transition: all 250ms linear;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
a.btn:hover::before {
  transform: translate(0);
}
div.name {
  border: 2px solid rgb(188, 186, 186);
  border-radius: 10px;
}
a.btn-1 {
  position: relative;
  overflow: hidden;
}
a.btn-1::before {
  content: "Download CV";
  width: inherit;
  height: inherit;
  background-color: white;
  position: absolute;
  border-radius: inherit;
  transform: translateY(100%);
  transition: all 250ms linear;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
a.btn-1:hover::before {
  transform: translate(0);
}
div.photo2-1 {
  padding: 10px;
  height: max-content;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: all 200ms linear;
}

div.photo2-1:hover {
  border-left: 10px solid aqua;
}
div.item1 {
  border-radius: 50%;
  background-color: transparent;
  background-image: conic-gradient(#00c0ff 90%, transparent 0);
  position: relative;
  display: flex;

  justify-content: center;
  align-items: center;
}
div.item2 {
  border-radius: 50%;
  background-color: transparent;
  background-image: conic-gradient(#00c0ff 85%, transparent 0);
  position: relative;
  display: flex;

  justify-content: center;
  align-items: center;
}
div.item3 {
  border-radius: 50%;
  background-color: transparent;
  background-image: conic-gradient(#00c0ff 80%, transparent 0);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.item4 {
  border-radius: 50%;
  background-color: transparent;
  background-image: conic-gradient(#00c0ff 65%, transparent 0);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.item1::before {
  content: " HTML 90%";
  width: 80%;
  height: 80%;
  background-color: #1c2455;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00c0ff;
  padding: 10px;
}
div.item2::before {
  content: " CSS 85%";
  width: 80%;
  height: 80%;
  background-color: #1c2455;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00c0ff;
  padding: 10px;
}
div.item3::before {
  content: " TAILWIND 80%";
  width: 80%;
  height: 80%;
  background-color: #1c2455;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00c0ff;
  padding: 10px;
  text-align: center;
}
div.item4::before {
  content: " JS 65%";
  width: 80%;
  height: 80%;
  background-color: #1c2455;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00c0ff;
  padding: 10px;
}
div.item {
  transition: all 300ms linear;
}
div.test > div {
  transition: all 300ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
div.test:hover > div {
  background-color: rgb(154, 186, 249);
  display: flex;
}
div.test > div > img {
  transition: all 300ms linear;
  top: -30%;
  left: -30%;
  position: absolute;
}
div.test:hover > div > img {
  top: 0;
  left: 0;
}
div.des {
  position: relative;
  overflow: hidden;
}
div.des > img {
  cursor: pointer;
}
div.des-1 {
  width: 80%;
  height: 30%;
  background-color: #1f1345;
  border-radius: 10px;
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translate(-50%);
  transition: all 200ms linear;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
div.des:hover > div.des-1 {
  bottom: 10px;
}
input.letter {
  background: unset;
  border: 1px solid lightgrey;
  display: flex;
}

a.btn-2 {
  position: relative;
  overflow: hidden;
}
a.btn-2::before {
  content: "Submit Now";
  width: inherit;
  height: inherit;
  background-color: white;
  position: absolute;
  border-radius: inherit;
  transform: translateY(100%);
  transition: all 250ms linear;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
a.btn-2:hover::before {
  transform: translate(0);
}
